---
permalink: /404.html
layout: default
---

<style type="text/css" media="screen">
  .container {
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
  }
  h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
</style>

<div class="container">
  <h1>404</h1>

  <p><strong>La page que vous cherchez n'a pas été trouvé :(</strong></p>
  <p>Mais savez-vous de quel projet est issu cette photo ?</p>
  <img src="{{site.baseurl}}{{site.image_url}}/{{site.projects | sample}}.{{imagesFolder}}/{{site.projects | sample}}.{{thumbnail }}" alt="">
</div>
