header{
    width: 100%;
    position: fixed;
    text-align: left;
    padding: 2% 5%;
    z-index: 1;
    background-color: var(--mainColor);
    font-size: 2em;
    font-family: 'lack_lineregular';
  }
  
  header>p>a{
    text-decoration: none;
    font-size: 1.5em;
  }
  
  section{
      padding: 15vh 5vh;
      font-size: 4em;
      width: 80vw;
      margin-left: 10vw;

  }


  @media (pointer:none), (pointer:coarse) {
    header{
      font-size: 6em;
    }
  }