header{
  width: 100%;
  position: fixed;
  text-align: left;
  padding: 2% 5%;
  z-index: 1;
  background-color: var(--mainColor);
  font-size: 2em;
  font-family: 'lack_lineregular';
}

header>p>a{
  text-decoration: none;
  font-size: 1.5em;
}



ul{
  column-count: 4;
  width: 80%;
  padding: 15vh 5vw;
  column-gap: 4vw;
  column-width: 200px;
}

li{
  margin-bottom: 5vh;
}

li>h1{
  font-size: 1.8em;
  margin-bottom: 0.5em;
}
li>h2{
  font-size: 1.5em;
  margin-bottom: 0.75em;
}
li>h3{
  font-family: 'lackitalic';
  font-size: 0.8em;
  margin-bottom: 1em;
}

li>p{
  margin-bottom: 2em;
}
@media (pointer:none), (pointer:coarse) {
  ul{
    column-count: 1;
  }

  header{
    font-size: 6em;
  }
  
}