<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <script src="{{"/assets/js/script.js"}}"></script>
</head>
