
nav{
  font-size: 2em;
  font-family: 'lack_lineregular';
  position: fixed;
  top: 0;
  z-index: 3;
}
  #cv{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 2% 5%;
  }
  #contact{
    position: fixed;
    bottom: 0;
    left:0;
    padding: 2% 5%;
  }
nav>ul>li>a{
  text-decoration: none;
}
nav>ul>li>a:hover{
  font-family: 'lackregular';
}

#top{
  transition: 0.3s;
}
/*/////////////////////NOT PHONE DISPLAY/////////////////*/
.titleHeader>h3{
  display: none;
}
.titleHeader>h3>a{
  text-decoration: none;
}

.titleHeader>h2{
  font-size: 1.3em;
  margin-top: 0.3em;
}

#closeNav{
  display: none;
  font-family: 'lackregular'
}

/*/////////////////////HEADER/////////////////*/
header{
  z-index: 2;
  top: 0;
  flex-direction: row;
  display: inline-flex;
  position: fixed;
  height: var(--headerHeight);
  background-color: var(--mainColor);
  justify-content: space-between;
  padding: 2% 5%;
  flex-wrap: wrap;
}

header>div, header>p{
  flex: 1 1 0px;
  padding: 1%;
  min-width: 300px;
  background-color: var(--mainColor);
  padding-bottom: var(--margin);
}

.titleHeader{
  font-size: 1.7em;
  line-height: 1.3em;
}

header>p:nth-child(3){
  font-family: 'lackitalic';
}

.tags{
  font-family: 'lackitalic';
}


/*/////////////////////GALLERY/////////////////*/
.gallery{
  padding: 0 5%;
  margin-top: var(--headerHeight);

  /*display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  grid-gap: var(--margin);*/

  margin-bottom: 5%;
}


.gallery>li{
  position: relative;
}

.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  background-color: var(--mainColor);
  mix-blend-mode: color;
  pointer-events: none;
}

.gallery>li>a>figure{
  opacity: 0;
  position: absolute;
  margin: 1.5em;
  width: 60%;
}

.gallery>li>a>figure>h1{
  font-size: 2.5em;
  margin-bottom: 3%;
  line-height: 1.3em;
}
.gallery>li>a>figure>p{
  line-height: 1.2em;
}
.gallery>li>a>img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery>li>a:hover > figure{
  opacity: 1;
}

.gallery>li:hover .overlay{
  opacity: 1;
}


  .description > p, .tags > p{
    padding-top: 2em;
    line-height: 1.4em;
  }

@media (pointer:fine) {
  .gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    grid-gap: var(--margin);
  }
}

/*/////////////MOBILE PHONE//////////////*/
@media (pointer:none), (pointer:coarse) {

    header{
      position: relative;
      padding: 0;
      margin:0;
    }

    header>div{
      padding:0;
      margin: 0;
    }

  .titleHeader, .description, .tags{
    flex: 0 0 100%;
    padding: 0;
    margin: 0;
    box-sizing:border-box;
  }

  .description{
    margin-top: 14vh;
  }

  .description, .tags{
    font-size: 2.5em;
    padding: 0 5%;
  }


  .titleHeader{
    flex-direction: row;
    display: inline-flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    font-size: 6em;
    padding: 5% 10%;
  }

  .titleHeader>h1{
    display: none;
  }
    .titleHeader>h2{
      margin-top: 0;
    }
  .titleHeader>h3{
    display: inline-block;
    font-family: 'lack_lineregular';
  }

    ////////////////////GALLERY///////////////////////
  .gallery{
    grid-template-columns: grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));;
    grid-gap: 20vh;
    padding: 0 !important;
  }
  .gallery>li{
    margin-bottom: 5vh;
  }
  .gallery>li>a>figure{
    opacity: 1;
    font-size: 2em;
    margin:5%;
    width:  75%;
  }

  nav{
    font-size: 8em;
    background-color: var(--mainColor);
    width: 100%;
    height: 100%;
    display: flex;
    display: none;
    align-items:center;
    justify-content:center;
  }

  #burgerMenu:active ~ nav {
    display: flex;
  }

  #closeNav{
    display: inline-block;
    width: 100%;
    position: fixed;
    text-align: center;
  }

  #cv, #contact, #closeNav{
    position: relative;
    text-align: center;
    margin: 30% 0;
  }


}
