*{
  --mainColor: #EDEEE0;
  --headerHeight: 14vh;
  --margin: 30px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */  ::-webkit-scrollbar-track {
    -webkit-box-shadow: none !important;
    background-color: transparent;
  }  ::-webkit-scrollbar {
    width: 3px !important;
    background-color: transparent;
  }  ::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

::-webkit-scrollbar {
    height: 0;
    width: 0;
    background: #000;
}

body{
  background-color: var(--mainColor);
  font-family: 'lackregular';
  width: 100%;
}

a{
  text-decoration: underline;
}

nav{
  position: fixed;
  font-family: 'lack_lineregular';
}

header{
  width: 100%;
  position: fixed;
  text-align: left;
  padding: 2% 5%;
  z-index: 1;
  background-color: var(--mainColor);
  font-size: 2em;
  font-family: 'lack_lineregular';
}

header>p>a{
  text-decoration: none;
  font-size: 1.5em;
}

heade>p>a{
  font-family: 'lackregular';
}

mark{
  background-color: black;
  color: white;
  padding: 0 0.1em;
  line-height: 1.3em;
}



/*/////////////////////////ASIDE////////////////////////*/
aside, section{
  margin-top: var(--headerHeight);
  display: inline-block;
}

aside{
  width: 22%;
  padding: 0 5%;
  position: fixed;
  height: 80vh;
}

section{
  margin-left: 35%;
  width: 55vw;
  margin-bottom: 10vh;
}

.description{
    background-color: var(--mainColor);
    height: 50vh;
    margin-bottom: 10%;
    line-height: 1.4em;
}
@media (pointer:fine) {
  .description{
    overflow-y: scroll;
  }
}

aside>h1, aside>h2{
  font-size: 3em;
  margin-bottom: 5%;
  line-height: 1.3em;
  background-color: var(--mainColor);
}

.description>h2{
  font-family: 'lack_lineregular';
}

.description>h3{
  font-family: 'lackitalic';
  margin-bottom: 2em;
}

.description>h4{
  font-size: 1.2em;
  margin-bottom: 2em;
}

.description>p{
  margin-bottom: 5%;
  font-size: 0.8em;
  line-height: 1.3em;
}
.description>p>br{
  margin-bottom: 5%;
}

.description>h5{
  text-decoration: underline;
}

.collaborateurs{
  text-decoration: none;
  margin-bottom: 1em;
}

/*/////////////////////////GALLERY////////////////////////*/

section>ul{
  display: inline;
  //grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  //grid-gap: var(--margin);
}

section>ul>li>figure{
  opacity: 0;
  position: absolute;
  margin: 1.5em;
  width: 55%;
}

section>ul>li>figure>p{
  font-size: 1.3em;
  margin-bottom: 3%;
}

section>ul>li>img{
  width: 100%;
  object-fit: cover;
}

section>ul>li:hover > figure{
  opacity: 1;
}

header>p:hover {
  font-family : 'lack_lineregular';
}

.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  background-color: var(--mainColor);
  mix-blend-mode: color;
  pointer-events: none;
}
section>ul>li{
  position: relative;
  margin-bottom: 2em;
}
section>ul>li:hover .overlay{
  opacity: 1;
}

section>ul>li>figure>p{
  line-height: 1.3em;
}


/*/////////////////////////PHONE////////////////////////*/
@media (pointer:none), (pointer:coarse) {
  header{
    font-size: 6em;
  }

  header>p{
    font-family: 'lack_lineregular'
  }
  body{
    padding: 0;
    margin: 0;
  }
  aside{
    width: 100%;
    padding: 0 5em;
    display: inline-block;
    position: relative;
  }
  aside>h1, aside>h2{
    font-size: 7em;
  }
  section{
    display: inline-block;
    margin-left: 0;
    width: 117%;
  }
  section>ul>li{
    margin-bottom: 3vh;
  }
  section>ul>li>figure{
    opacity: 1;
    font-size: 2em;
    width: 50%;
    padding: 1em;
    color: white;
  }



  .description{
    font-size: 3em;
  }
}

@media (max-width: 1280px) {
  section>ul{
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
}
