---
layout: default
---
<head>
  <style>
    {% include contact.scss %}
  </style>
</head>

<header>
  <p><a href="{% link index.markdown %}">← ← ←</a></p>
</header>


<section>
    <h2>Si vous souhaitez avoir plus d'informations, contactez moi à l'adresse suivant <a href="mailto: {{site.email}}"><mark>quentinlaloux[at]email.fr</mark></a></h2>
</section>