---
layout: default
---
<head>
  <style>
    {% include cv.scss %}
  </style>
</head>

<header>
  <p><a href="{% link index.markdown %}">← ← ←</a></p>
</header>

<article class="post">

  <ul class="main">
    <li>
      <h1><mark>Quentin Laloux</mark></h1>
      <h3>26 ans</h3>
      <h3>permis B</h3>
    </li>
    <li class="Formations">
      <h1><mark>Formations</mark></h1>
      {% for formation in page.Formations %}
        <h2>{{formation.date}}</h2>
        <h3>{{formation.localisation}}</h3>
        <p>{{formation.intitule}}</p>
      {% endfor %}
    </li>
    <li class="Expériences">
      <h1><mark>Expériences</mark></h1>
      {% for experience in page.Experiences %}
        <h2>{{experience.date}}</h2>
        <h3>{{experience.localisation}}</h3>
        <p>{{experience.intitule}}</p>
      {% endfor %}
    </li>
    <li class="Competences">
      <h1><mark>Compétences</mark></h1>
        {% for competence in page.Competences %}
          <h2>{{competence.categorie}}</h2>
          <p>{{competence.logiciels}}</p>
        {% endfor %}
    </li>
    <li class="Langues">
      <h1><mark>Langues</mark></h1>
      {% for langue in page.Langues %}
        <h2>{{langue.nationnalite}}</h2>
        <p>{{langue.niveau}}</p>
      {% endfor %}
    </li>
    <li class="Interets">
      <h1><mark>Interêts</mark></h1>
      {% for interet in page.Interets %}
        <p>{{interet.sujet}}</p>
      {% endfor %}
    </li>
  </ul>
</article>
<aside>
  <p>¶ ↔ ø</p>
</aside>
