---
layout: default
---

  <head>
    <style>
      {% include home.scss %}
    </style>
  </head>


  <body>
    <header>
      <div class="titleHeader">
        <h1><mark>Quentin Laloux</mark> <br/>Designer ↔ Maker</h1>
        <h3><a id="scrollTOp" href="#top">↓</a></h3>
        <h2>¶ ↔ ø</h2>
        <h3 id="burgerMenu"><a href="#">☰</a></h3>
      </div>
      <div class="description">
        <p>{{site.description}}</p>
      </div>
      <div class="tags">
        <p>Électronique ; Fabrication ; Design d’interface ; Design d’objet ; Design graphique ; Atelier ; Animation ; Programmation ; Illustration</p>
      </div>
    </header>
    <nav>
      <ul>
        <li id="cv"><a href={% link cv.md %}>CV</a></li>
        <li id="contact"><a href={% link contact.md %}>Contact</a></li>
        <li id="closeNav">↑↑↑</li>
      </ul>
    </nav>
    <ul class="gallery">
      {% assign projects = site.projects | sort: "weight" | reverse  %}
      {% for project in site.projects %}
        <li>
        <!--<li {% if project.important %} style=" grid-column-end: span 2; grid-row-end: span 2;" {% endif %}>-->
            <a href={{site.baseurl}}{{project.url}}>
              <figure class="legende">
                <h1><mark>{{project.title}}</mark></h1>
                <p><mark>{{project.description}}</mark></p>
              </figure>
              <img src="{{site.baseurl}}{{ site.image_url }}/{{project.imagesFolder}}/{{project.thumbnail }}" alt="">
            </a>
            <div class="overlay"></div>
        </li>
      {% endfor %}
    </ul>
