---
layout: default
---

  <head>
    <style>
      {% include project.scss %}
    </style>
  </head>

  <header>
    <p><a href="{% link index.markdown %}">← ← ←</a></p>
  </header>

  <nav>
      <ul>
        <li><a href="#">CV</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
  </nav>
    <aside>
        <h1><mark>{{page.title}}</mark></h1>
        <h2>
          <strong {% if page.designer %} style ="font-family: 'lackregular';" {% endif %}>¶</strong>
          <strong {% if page.maker %} style ="font-family: 'lackregular';" {% endif %}>ø</strong>
        </h2>

      <div class="description">
        {% if page.collaboration[0] != null %}  <h5 class="collaborateurs"> avec {% for nom in page.collaboration %} {{nom}} {% endfor %}</h5> {% endif %} <!-- Afficher les collaborateurs du projet si ils existent -->
        <h3>{{page.year}}, {% for tag in page.tags %}  {{ tag }}  {% endfor %}</h3>
        <h4>{{page.chapeau}}</h4>
        <p>{{content}}</p>
        {% if page.liens[0] != null %}
          {% for lien in page.liens %}
            <h5><a href={{lien.lien}} target="_blank" rel="noopener noreferrer" >{{lien.nom}}</a></h5>
          {% endfor %}
        {% endif %}
      </div>
    </aside>

    <section>
      <ul>
        {% for image in page.image %}
          <li
            {% case image.size %}
            {% when 'small' %}
              style=" grid-column-end: span 1; grid-row-end: span 1;"
            {% when 'medium' %}
              style=" grid-column-end: span 2; grid-row-end: span 2;"
            {% when 'big' %}
              style=" grid-column-end: span 3; grid-row-end: span 3;"
            {% else %}
            {% endcase %}
          >
            <figure>
              <p><mark>{{image.caption}}</mark></p>
            </figure>
            <img src="{{site.baseurl}}{{ site.image_url }}/{{page.imagesFolder}}/{{image.url }}" alt="{{image.caption}}">
            <div class="overlay"></div>
          </li>
        {% endfor %}
      </ul>
    </section>
